.collab {
    background-color: var(--white);
  }

  .logos_block {
    padding-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
  }

  .logo_img{
    width: 15%;
  }

  .colab_de{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 25%;
    margin-top: 0%;
    margin-left: 40%;
  }

  body a {
    width: 100%;
    text-align: center;
  }
