.collab {
    background-color: var(--white);
  }

  .logos_block {
    padding-bottom: 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }

  .logo_img{
    width: 50%;
    margin: 5%;
  }

  .colab_de{
    padding-top: 10%;
    padding-bottom: 5%;
    width: 25%;
    margin: auto;
  }

  body a {
    width: 100%;
    text-align: center;
  }
