.feriaMaker__title {
    font-family: 'OpenSans-ExtraBold';
    color: var(--yellow);
    font-size: xx-large;
    margin: 15px 0 15px 0;
}

.feriaMakerDescription {
    grid-column: 2/9;
    margin-right: 8%;
}

.feriaMaker__separator {
    border-color: var(--yellow);
}

.feriaMaker__details {
    font-family: 'OpenSans-Bold';
    font-size: large;
    color: var(--white);
    margin-top: 0;
    margin-left: 1%;
    text-align: justify;
    text-overflow:clip;
}

 .feriaMaker__museum-logo {
     width: 15%;
     margin-left: 3%;
 }

 .feriaMaker__location {
     margin-left: 25%;
     margin-top: -13%;
 }
 
.feriaMakerImages {
    grid-column: 9/15;
    margin-top: 11%;
    margin-left: 10%;
}

.feriaMakerImages__museum {
    align-items: center;
    width: 100%;
    margin-top: 10%;
}

.feriaMakerImages__characters {
    width: 55%;
    margin-left: 30%;
    margin-top: 7%;
}

@media screen and (max-width: 1200px) {
    .feriaMakerDescription {
        grid-column: 2/-1;
    }
    .feriaMakerImages {
        grid-column: 1/-1;
    }
    .feriaMakerImages__museum {
        width: 90%;
        grid-column: 2/-1;
        margin: auto;
    }
    .feriaMaker__museum-logo {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .feriaMaker__location {
        display: block;
        margin-top: 5%;
        margin-left: 0%;
    }  
    .feriaMakerImages__characters {
        width: 55%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5%;
    }  
}
