.description-workshop {
    background-color: var(--white);
}
.description-workshop__text {
    grid-column: 2/9;
}
.description-workshop__paragraph {
    margin: 20% 5% 20% 5%;
    font-family: 'Soleil-Regular';
    font-size: 150%;
    color: var(--turquoise)
}
.bold-yellow {
    color: var(--yellow);
    font-weight: bold;
}
.description-workshop__images {
    grid-column: 9/-1;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.images__evento-presencial {
    grid-column: 1/9;
    width: 100%;
    margin: auto;
}
.images__evento-presencial img{
    width: 100%;
}
.images__aniversario {
    grid-column: 6/8;
    width: 100%;
}
.form {
    grid-column: 1/-1;
    width: 100%;
    height: 100px;
    color: var(--white);
    text-align: center;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form a {
    text-decoration: none;
    color: var(--yellow);
}
@media screen and (max-width: 1000px) {
    .description-workshop__text {
        grid-column: 1/-1;
        grid-row: 2;
    }
    .description-workshop__images {
        grid-column: 1/-1;
        grid-row: 1;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .images__evento-presencial {
        width: 55%;
    }
    .images__aniversario {
        grid-column: 6/8;
        width: 70%;
    }
    .description-workshop__paragraph {
        margin: 5%;
    }
}
