.government {
    background-color: var(--white);
}
.government__made-with {
    padding-top: 10%;
    width: 30%;
    margin: auto;
    grid-column: 2/-2;
}

.government__logos {
    padding-top: 10%;
    padding-bottom: 20%;
    grid-column: 5/11;
    display: flex;
}

.government__separator {
    grid-column: 1/9;
}

.government__img-gobierno {
    max-width: 40%;
}

.government__img-contigo {
    max-width: 80%;
    padding-left: 20%;
}

@media screen and (max-width: 700px) {
    .government__made-with {
        padding-top: 10%;
        width: 55%;
        margin: auto;
        grid-column: 2/-2;
    }
    .government__img-gobierno {
        width: 180%;
        display: flex;
    }
    
    .government__img-contigo {
        width: 180%;
        display: flex;
    }
    .government__logos {
        grid-column: 2/-2;
    }
}
