.header__img-arduino {
  width: 30%;
  margin-top: -18%;
  margin-left: 10%;
  position: absolute;
}
.header_25aniversary {
  width: 10%;
  position: absolute;
  top: 0px;
  right: 45%;
}
.header__img-date {
  width: 100%;
  grid-column: 3/4;
  position: relative;
  top: 20%;
}
.header__img-time {
  width: 70%;
  grid-column: 4/7;
  position: relative;
  top: 20%;
  left: 25%;
}

.header__img-david {
  width: 120%;
  grid-column: 10/-2;
  margin-top: 19%;
  margin-left: -10%;
}

.header__background-pattern {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/bg_header.svg");
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
  .header__img-david {
    width: 120%;
    grid-column: 8/-2;
    margin-top: 20%;
    margin-left: -12%;
  }
  .header__background-pattern {
    background-size: cover;
  }
  .header__img-arduino {
    width: 40%;
    margin-left: 3%;
  }
  .header__img-date {
    grid-column: 2/4;
    max-width: 75%;
  }
  .header__img-time {
    width: 85%;
  }
  .header_25aniversary {
    right: 52%;
  }
}
