.header__img-arduino {
    width: 460%;
    margin-top: -305%;
    grid-column: 2/3;
}
  
.header__img-date {
    width: 88%;
    grid-column: 7/8;
    margin-top: -240%;
    margin-left: 20%;
}
  
.header__img-time {
    width: 180%;
    grid-column: 9/10;
    margin-top: -240%;
    margin-left: -25%;
}
  
.header__img-david {
    width: 120%;
    grid-column: 10/-2;
    margin-top: 20%;
    margin-left: -10%;
}
 
.header__background-pattern {
    grid-column: 1/-1;
    height: 160%;
    width: 100%;
    background-image: url('../../assets/images/BG-Pattern.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 85%;
}

@media screen and (max-width: 1000px) {
    .header__img-arduino {
        width: 35%;
        margin-top: -30%;
        margin-left: 5%;
        position: absolute;
    }
    .header__img-date {
        width: 62%;
        grid-column: 2/4;
        margin-bottom: -247%;
        margin-left: 18%;
    }
    .header__img-time {
        width: 80%;
        grid-column: 4/7;
        margin-bottom: -247%;
        margin-left: 0%;
    }
    .header__img-david {
        width: 120%;
        grid-column: 8/-2;
        margin-top: 20%;
        margin-left: -12%;
    }
    .header__background-pattern {
        background-position-y: 90%;
    }
}
