.header {
  background-color: var(--white);
  position: relative;
  grid-template-rows: repeat(15, 1fr);
  max-height: 100vh;

  background-image: url("../../assets/images/2023_header1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.header .grid {
  grid-template-rows: repeat(15, 1fr);
}

.header__aduinoday {
  grid-column: 1/7;
  grid-row: 3/5;
  font-size: xx-large;
}
.header__aduinoday img {
  width: 100%;
}

.header__david {
  grid-column: 4/12;
  grid-row: 7/15;
  z-index: 1;
}

.header__david img {
  width: 100%;
}
.header__dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header__dates-hour {
  vertical-align: text-top;
}

.header__makers {
  grid-column: 11/-1;
  grid-row: 7/9;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
}
.header__makers img {
  width: 100%;
}
.header__makers div {
  width: 100%;
  color: var(--white);
  text-align: center;
  background-color: var(--yellow);
}
.header__goverment {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1000px) {
  .header {
    background-image: url("../../assets/images/2023_header_movile.svg");
  }
  .header__aduinoday {
    grid-column: 2/10;
    grid-row: 2/7;
    font-size: large;
  }
  .header__david {
    grid-column: 1/11;
    grid-row: 9/-1;
  }
  .header__makers {
    grid-column: 9/-1;
    grid-row: 8/12;
    align-items: center;
    font-size: x-large;
  }
}
@media screen and (max-width: 500px) {
  .header__david {
    grid-column: 1/12;
    grid-row: 11/-1;
  }
  .header__aduinoday {
    grid-column: 1/14;
    grid-row: 2/7;
    font-size: large;
  }
  .header__goverment {
    width: 20%;
  }
}
