.ponentes_section {
  grid-column: 1/-1;
  background-color: var(--turquoise);
  border-bottom: var(--yellow) 25px solid;
}

.ponentes_title {
  margin: 0;
  position: relative;
  top: -47%;
  grid-column: 1/-1;
  width: 100%;
}

.ponentes_title img {
  width: 100%;
}

.ponentes_text {
  font-family: "OpenSans-Bold";
  color: var(--white);
  font-size: 130%;
  text-align: center;
  margin-bottom: 5%;
}

.ponente_img {
  width: 50%;
}

@media screen and (max-width: 700px) {
}
