.ponentes_section {
  background-color: var(--white);
  border-bottom: var(--yellow) 25px solid;
}

.ponentes_title {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.ponentes_title img {
  width: 20%;
  padding-top: 10%;
}

.ponentes_block {
  margin-top: 5%;
  padding-bottom: 10%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.ponentes_text {
  font-family: "Soleil-Regular";
  color: var(--turquoise);
  font-size: 130%;
  text-align: center;
  width: 400px;
  margin-bottom: 5%;
}

.ponente_img {
  width: 50%;
}

@media screen and (max-width: 700px) {
  .ponentes_title {
    width: 70%;
    padding-top: 10%;
  }
  .ponentes_title img {
    width: 100%;
  }

  .ponentes_text {
    font-family: "Soleil-Regular";
    color: var(--turquoise);
    font-size: 100%;
    text-align: center;
  }

  .ponente_img {
    width: 50%;
  }
}
