.programa {
  background-color: var(--turquoise);
  margin-bottom: 10%;
}
.programa__title {
  grid-column: 1/-1;
  height: 100%;
  width: 100%;
}
.programa__title img {
  margin-top: 20px;
  width: 100%;
}
.programa__date {
  grid-column: 1/-1;
  text-align: center;
  font-size: xx-large;
  margin: 30px 0 15px 0;
}
.wrapper {
  grid-column: 1/-1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: row;
  grid-row-gap: 50px;
  grid-column-gap: 25px;
  margin: 20px 0 10px 0px;
}
.programa_tag {
  display: flex;
  justify-self: stretch;
  margin: 5px;
}
.programa_tag .program_hour {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 20px 5px 5px;
  padding: 5px 10px 5px 10px;
  vertical-align: middle;
  text-align: center;
  background-color: var(--white);
  color: var(--turquoise);
}
.program_expositor {
  color: var(--white);
  text-align: left;
  width: 90%;
}

.talleres {
  background-color: var(--white);
  grid-column: 1/-1;
}
.talleres__title {
  position: relative;
  top: -47%;
  grid-column: 1/-1;
  height: 100%;
  width: 100%;
}
.talleres__title img {
  width: 100%;
}
.taller_tag {
  margin: 5px;
}
.taller_description {
  display: flex;
  justify-self: stretch;
}
.talleres_hour {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 20px 5px 5px;
  padding: 5px 10px 5px 10px;
  vertical-align: middle;
  text-align: center;
  background-color: var(--turquoise);
  color: var(--yellow);
}
.talleres_expositor {
  color: var(--turquoise);
  text-align: left;
  width: 90%;
}
.taller_place {
  padding: 5px;
  margin-top: 15px;
  background-color: var(--orange);
  text-align: center;
  color: var(--white);
}

@media screen and (max-width: 1000px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .programa_tag {
    justify-self: center;
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
