.grid-programa {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
.programa {
    background-color: var(--turquoise);
}
.programa__title {
    grid-column: 1/-1;
    height: 100%;
    width: 100%;
}
.programa__title-img {
    grid-column: 1/-1;
    max-width: 45%;
    margin: auto;
    padding: 10%;
}
.programa__ponentes {
    grid-column: 1/-1;
}
.ponentes-ponente {
    max-width: 50%;
    grid-column: span 5;
    margin: auto;
}
.programa__left {
    grid-column: 2/9;
    padding-top: 20%;
}
.programa__right {
    grid-column: 9/-2;
    padding-top: 20%;
}
.programa__left-ind {
    grid-column: 1/-1;
    padding-bottom: 8%;
}
.programa__right-ind {
    grid-column: 1/-1;
    padding-bottom: 8%;
}
.left__description {
    grid-column: 1/11;
    text-align: right;
    color: var(--white);
    font-size: 150%;
    font-family: 'Soleil-Regular';
}
.right__description {
    grid-column: 6/-1;
    color: var(--white);
    font-size: 150%;
    font-family: 'Soleil-Regular';
}
.left__hour {
    grid-column: 12/15;
    text-align: center;
    color: var(--yellow);
    font-size: 150%;
    border-right: 3px solid;
    height: 150%;
    padding-top: 40%;
}
.right__hour {
    grid-column: 2/5;
    color: var(--yellow);
    font-size: 150%;
    border-left: 3px solid;
    height: 150%;
    padding-top: 40%;
    text-align: center;
}
.tallerista {
    font-size: 80%;
}

.hour-start {
    position: relative;
    bottom: 8%;
}
.hour-end {
    position: relative;
    top: 10%
}
.circle {
    height: 20px;
    width: 20px;
    background-color: var(--yellow);
    border-radius: 50%;
}
.circle-left {
    position: relative;
    left: 92%;
}
.circle-right {
    position: relative;
    right: 10%;
}
