.register {
  background-color: white;
  margin-top: -5%;
}

.contenedor {
  grid-column: 1/-1;
  /* margin-left: 5%;
  margin-right: 5%; */
  margin-bottom: 5%;
}

.resistor_block {
  display: inline-block;
  grid-column: 2/8;
}

.resistor-img {
  margin-top: 10%;
  width: 50%;
}

.diodo_block {
  grid-column: 11/15;
  align-items:baseline;
  display: grid;
}

.desc_block {
  grid-column: 2/9;
}

.boton_registrar {
  margin: auto;
  grid-column: 11/15;
  display: flex;
  width: 100%;
}

.contenedor1 {
  margin-top: -30%;
  /* display: flex; */
  grid-column: 9/15;
  text-align: end;
}

.diodo-img {
  margin-right: 40%;
  width: 17%;
  position: relative;
  top: 32%;
  right: 36%;
}

.d_text {
  grid-column: 11/15;
}

.extrabold_titles {
  font-family: "MuktaMalar-ExtraBold";
  color: var(--turquoise);
  font-size: 300%;
}

.titles {
  font-family: "MuktaMalar-ExtraLight";
  color: var(--turquoise);
  font-size: 280%;
}

.bold_text_date {
  font-family: "MuktaMalar-Bold";
  color: var(--orange);
  font-size: 160%;
}

.light_text {
  font-family: "MuktaMalar-Light";
  color: var(--orange);
  font-size: 150%;
}

.text_below {
  font-family: "MuktaMalar-Bold";
  color: var(--yellow);
  font-size: 115%;
  text-align: right;
}

.extrabold_David {
  font-family: "MuktaMalar-ExtraBold";
  color: var(--turquoise);
  font-size: 160%;
  text-align: right;
}

.bold_text_above {
  font-family: "MuktaMalar-Bold";
  color: var(--orange);
  font-size: 115%;
  text-align: right;
}

.desc_text {
  font-family: "Soleil-Regular";
  color: var(--turquoise);
  font-size: 130%;
  text-align: justify;
}

.separator {
  color: var(--light-blue);
  position: relative;
  bottom: 9%;
  left: 98%;
  width: 119%;
}

.franja {
  grid-column: 1/-1;
}
