.register {
  background-color: white;
  margin-top: -5%;

}

.contenedor {
  grid-column: 1/-1;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.resistor_block {
  grid-row: 1;
  grid-column: 1;
}

.resistor-img {
  margin-top: 10%;
  width: 20%;
}

.diodo_block {
  margin-top: 5%;
  grid-row: 1;
  grid-column: 2;
}

.desc_block {
  margin-top: 5%;
  grid-row: 2;
  grid-column: 1;
}

.boton_registrar {
  margin-left: 15%;
  margin-top: 10%;
  grid-column: 2;
  width: 70%;
}

.contenedor1 {
  margin-top: 15%;
  display: grid;
  grid-column: 8/-1;
}

.diodo-img {
  margin-top: 30%;
  margin-left: 40%;
  grid-column: 1;
  width: 40%;
}

.d_text {
  grid-column: 2/4;
}

.extrabold_titles {
  font-family: "MuktaMalar-ExtraBold";
  color: var(--turquoise);
  font-size: 150%;
}

.titles {
  font-family: "MuktaMalar-ExtraLight";
  color: var(--turquoise);
  font-size: 145%;
}

.bold_text_date {
  font-family: "MuktaMalar-Bold";
  color: var(--orange);
  font-size: 100%;
}

.light_text {
  font-family: "MuktaMalar-Light";
  color: var(--orange);
  font-size: 100%;
}

.text_below {
  font-family: "MuktaMalar-Bold";
  color: var(--yellow);
  font-size: 70%;
  margin-left: 38%;
}

.extrabold_David {
  font-family: "MuktaMalar-ExtraBold";
  color: var(--turquoise);
  font-size: 150%;
  margin-left: 1%;
}

.bold_text_above {
  font-family: "MuktaMalar-Bold";
  color: var(--orange);
  font-size: 100%;
  margin-left: 20%;
}

.desc_text {
  font-family: "Soleil-Light";
  color: var(--turquoise);
  font-size: 80%;
  text-justify: auto;
}
